<div class="mail_footer">
    <span>С уважением,</span>
    <span>команда Interpreters.travel</span>
    <br/>
    <span>Пожалуйста, не отвечайте на данное сообщение.</span>
    <span>Если Вам необходима помощь или у Вас возникли вопросы, Вы можете обратиться в службу поддержки support@interpreters.travel или по телефону +44 65865865</span>
    <br/>
    <span>© 2014 Interpreters.travel OÜ, Harju maakond, Tallinn, Kesklinna linnaosa, Vesivärava tn 50-201, 10152</span>
</div>