- content_for :description do
  My viewings


- content_for :body do
  .main_content
    .my_view_wrapper
      .is_cont
        .my_view_block
          %a{href: "#"}
            %img.img{src: "img/cabinet_img_01.png", alt: ''}/
          .desc
            %a.name{href: "#"} Hans Itka
            .mob_price 10 100 rub
            %a.mob_level{href: "#"}
              Level summary
              %span 8.1
            .text The diplomaed translator, the philologist. I carry out interpretations in the state. establishments: in department for foreigners in Berlin, in the head customs office; in lawyer and notary offices, at the doctor.
            .links
              %a.rating{href: "#"} Well (8.3)
              %a.comment{href: "#"} 15 reviews
              %a.level{href: "#"}
                Level summary
                %span 8.1
          .clear
        .my_view_block
          %a{href: "#"}
            %img.img{src: "img/cabinet_img_01.png", alt: ''}/
          .desc
            %a.name{href: "#"} Hans Itka
            .mob_price 10 100 rub
            %a.mob_level{href: "#"}
              Level summary
              %span 8.1
            .text The diplomaed translator, the philologist. I carry out interpretations in the state. establishments: in department for foreigners in Berlin, in the head customs office; in lawyer and notary offices, at the doctor.
            .links
              %a.rating{href: "#"} Well (8.3)
              %a.comment{href: "#"} 15 reviews
              %a.level{href: "#"}
                Level summary
                %span 8.1
          .clear
        .my_view_block
          %a{href: "#"}
            %img.img{src: "img/cabinet_img_01.png, alt: ''"}/
          .desc
            %a.name{href: "#"} Hans Itka
            .mob_price 10 100 rub
            %a.mob_level{href: "#"}
              Level summary
              %span 8.1
            .text The diplomaed translator, the philologist. I carry out interpretations in the state. establishments: in department for foreigners in Berlin, in the head customs office; in lawyer and notary offices, at the doctor.
            .links
              %a.rating{href: "#"} Well (8.3)
              %a.comment{href: "#"} 15 reviews
              %a.level{href: "#"}
                Level summary
                %span 8.1
          .clear
        .my_view_block
          %a{href: "#"}
            %img.img{src: "img/cabinet_img_01.png", alt: ''}/
          .desc
            %a.name{href: "#"} Hans Itka
            .mob_price 10 100 rub
            %a.mob_level{href: "#"}
              Level summary
              %span 8.1
            .text The diplomaed translator, the philologist. I carry out interpretations in the state. establishments: in department for foreigners in Berlin, in the head customs office; in lawyer and notary offices, at the doctor.
            .links
              %a.rating{href: "#"} Well (8.3)
              %a.comment{href: "#"} 15 reviews
              %a.level{href: "#"}
                Level summary
                %span 8.1
          .clear
        .my_view_block
          %a{href: "#"}
            %img.img{src: "img/cabinet_img_01.png", alt: ''}/
          .desc
            %a.name{href: "#"} Hans Itka
            .mob_price 10 100 rub
            %a.mob_level{href: "#"}
              Level summary
              %span 8.1
            .text The diplomaed translator, the philologist. I carry out interpretations in the state. establishments: in department for foreigners in Berlin, in the head customs office; in lawyer and notary offices, at the doctor.
            .links
              %a.rating{href: "#"} Well (8.3)
              %a.comment{href: "#"} 15 reviews
              %a.level{href: "#"}
                Level summary
                %span 8.1
          .clear

    .clear